{% extends "layout.html" %}

{% block title %}
Filed Leaves
{% endblock %}

{% block main %}
    <div class="table_manager">
        <table class="table" id="table_manager1">
            <thead>
                <tr>
                    <th><strong>Employee</strong></th>
                    <th><strong>Date Filed</strong></th>
                    <th><strong>Status</strong></th>
                    <th><strong>Start Date</strong></th>
                    <th><strong>End Date</strong></th>
                    <th><strong>Action</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for leave, user in results %}
                    <tr>
                        <td>{{ user.employee_name }}</td>
                        <td>{{ leave.date_filed }}</td>
                        <td>{{ leave.status }}</td>
                        <td>{{ leave.start_date }}</td>
                        <td>{{ leave.end_date }}</td>
                        <td>
                            <form action="/filed_leaves" method="post">
                                <input type="hidden" id="leave_id" name="leave_id" value="{{ leave.leave_id }}">
                                <button type="submit" name="action" value="approve">Approve</button>
                            </form>
                            <form action="/filed_leaves" method="post">
                                <input type="hidden" id="leave_id" name="leave_id" value="{{ leave.leave_id }}">
                                <button type="submit" name="action" value="reject">Reject</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}